.auth_page{
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
}
.form-container{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.form-container::before{
	content: '';
	width:  2000px;
	height: 2000px;
	border-radius: 50%;
	background-color: thistle;
	transition: 1.5s;
	position: absolute;
	z-index: 2;
	left: 0;
	top: -125%;
	pointer-events: none;
}
.form-container.register::before{
	left: 40%;
}
.form-container.signin::before{
	transform: translateX(-100%);
	left: 60%;
}
.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 50%;
	transition: left 1.5s .2s, opacity 0s .3s ;
}
.form-container.register .form{
	top: 0;
	left: 0;
}
.form-container.signin .form{
	top: 0;
	left: 50vw;
}
.form-container.register .form.signin{
	opacity: 0;
	z-index: 0;
}
.form-container.signin .form.register{
	opacity: 0;
	z-index: 0;
}
.validate-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;	
}
.message-container{
	height: 4rem;
}
.btn-signin{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	z-index: 3;
	position: absolute;
	top: 20%;
	right: 0;
	transition: 1s;
	width: 15rem;
	height: auto;
}
.btn-register{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	z-index: 3;
	position: absolute;
	top: 20%;
	left: 0;
	transition: 1s;
	width: 15rem;
	height: auto;
}
.btn-signin label, .btn-register label{
	font-weight: 500;
}
.form-container.register .btn-signin{
	right: 20%;
}
.form-container.signin .btn-signin{
	right: -20%;
}
.form-container.register .btn-register{
	left: -20%;
}
.form-container.signin .btn-register{
	left: 20%;
}
.btn-signin button, .btn-register button{
	appearance: none;
	border: 5px solid #ffff;
	color: #ffff;
	padding: .5rem;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	transition: .5s;
	cursor: pointer;
	width: 10rem;
	margin-top: 1rem;
	outline: none;
}
.btn-signin button:hover, .btn-register button:hover{
	padding: .5rem;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 15px;
	transform: scale(1.1);
}
@media (max-width: 990px) {
	.form-container.register::before{
		top: -150%;
		left: 50%;
	}
	.form-container.signin::before{
		top: -150%;
		left: 50%;
	}
	.form-container.register .btn-signin{
		right: 5%;
	}
	.form-container.signin .btn-signin{
		right: -50%;
	}
	.form-container.register .btn-register{
		left: -50%;
	}
	.form-container.signin .btn-register{
		left: 5%;
	}
}
@media (max-width: 570px) {
	.form-container:before {
		width: 1500px;
		height: 1500px;
		transform: translateX(-50%);
		left: 30%;
		bottom: 68%;
		right: initial;
		top: inherit;
		transition: 1s ease-in-out;
	}
	.form-container.register::before{
		top: inherit;
		bottom: 50%;
		left: 50%;
	}
	.form-container.signin::before{
		top: inherit;
		transform: translate(-50%, 100%);
		bottom: 50%;
		left: 50%;
	}
	.form{
		height: 50vh;
		width: 100%;
		transition: top 1.5s .1s, opacity 0s .3s ;
	}
	.form-container.register .form{
		top: 50vh;
		left: 0;
	}
	.form-container.signin .form{
		top: 0;
		left: 0;
	}
	.btn-signin{
		top: 20%;
		right: inherit;
		margin: auto;
		transition: 1s;
	}
	.form-container.register .btn-signin{
		right: inherit;
		top: 20%;
	}
	.form-container.signin .btn-signin{
		right: inherit;
		top: -20%;
	}
	.btn-register{
		bottom: 20%;
		top: inherit;
		left: inherit;
		margin: auto;
		transition: 1s;
	}
	.form-container.register .btn-register{
		left: inherit;
		bottom: -20%;
	}
	.form-container.signin .btn-register{
		left: inherit;
		bottom: 20%;
	}
}