/* User dashboard, Admin Dashboard */
.dashboard-container {
  width: 90vw;
  height: auto;
  background-color: #ffff;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
  min-height: 700px;
}
hr {
  height: 1px;
  margin: 1rem auto;
  background-color: thistle;
  border: none;
  width: 90%;
}
h4 {
  width: 100%;
  margin-top: 0;
  margin-left: 2rem;
}
.dashboard-container h1 {
  margin-top: 0;
  text-align: left;
  text-decoration: underline;
}
.page {
  width: 100%;
  height: 100%;
}
.menu-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu-item {
  width: 30%;
  height: 40%;
  min-width: 20rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  margin: 2rem;
}
.menu-item:hover {
  transform: scale(1.1);
}
.menu-item a {
  width: 100%;
  height: 100%;

  min-height: 15rem;
  color: thistle;
  border-radius: 10px;
  border: 5px solid thistle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 40px;
}
.icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.icon-title h6 {
  margin: 0;
}

/* Admin dashboard */

.admin-pole-dashboard {
  height: 100%;
  min-height: 700px;
  width: 100%;
}
.arrow-header {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.arrow-header .arrow-back {
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
.arrow-header .arrow-back:hover {
  transform: scale(1.2);
}
.arrow-header h1 {
  color: thistle;
  margin: 0;
}
.admin-pole-items-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pole-item,
.add-pole-item {
  height: 10rem;
  width: 20rem;
  border: 5px solid thistle;
  border-radius: 10px;
  margin: 1rem;
  color: thistle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
}
.pole-item:hover,
.add-pole-item:hover {
  transform: scale(1.05);
}
.admin-pole-page {
  width: 100%;
  height: auto;
  min-height: 90vh;
}
.admin-pole-page-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Admin pole menu */
.admin-pole-page-menu {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.admin-pole-page-menu a {
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: black;
  border-left: 1px solid thistle;
}
.admin-pole-page-menu a:nth-child(4) {
  border-right: 1px solid thistle;
}
.admin-pole-page-menu a:hover,
.admin-pole-page-menu a.active {
  text-decoration: underline;
}
.admin-pole-page-menu a li {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  margin: 0 1rem;
}

/* Admin pole infos page */
.pole-infos-page {
  width: 100%;
}
.pole-infos-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pole-infos-form h2 {
  margin-left: 2rem;
  margin-top: 0.5rem;
  width: 100%;
  text-align: left;
  text-decoration: underline;
}
.pole-infos-form div {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1rem auto;
}
.pole-infos-form div label {
  text-align: left;
  font-size: 18px;
}
.pole-infos-form div input {
  height: 2rem;
  margin-top: 0.5rem;
  outline: none;
}
.pole-infos-form button {
  align-self: flex-end;
  height: 2.5rem;
  width: 40%;
  margin: 1rem auto;
  background-color: orangered;
  color: #ffff;
  border: none;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
}
.pole-infos-form button:hover {
  background-color: rgb(194, 54, 3);
  transform: scale(1.05);
  cursor: pointer;
}

/* Admin pole declaration */
.admin-pole-declaration-page {
  height: auto;
  display: flex;
  flex-direction: column;
}
.admin-pole-declaration-page h2 {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 100%;
  text-align: left;
  text-decoration: underline;
}
.pole-declarations-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.declaration-item,
.add-declaration-item {
  height: 10rem;
  width: 20rem;
  border: 5px solid thistle;
  border-radius: 10px;
  margin: 1rem;
  color: thistle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
}
.declaration-item:hover,
.add-declaration-item:hover {
  transform: scale(1.05);
}
.declaration-item *,
.add-declaration-item * {
  margin: 0;
}

/* Modal */
.Modal-add-declaration,
.Modal-update-declaration,
.Modal-add-pole {
  /* 	max-height: 100vh;
 */
  height: auto;
  width: 50vw;
  background-color: #ffff;
  outline: none;
  border-radius: 10px;
}
.Modal-add-specialite,
.Modal-update-specialite {
  max-height: 100vh;
  height: auto;
  width: 50vw;
  background-color: #ffff;
  outline: none;
  border-radius: 10px;
  overflow-y: scroll;
}
.Overlay-add-declaration,
.Overlay-update-declaration,
.Overlay-add-specialite,
.Overlay-update-specialite,
.Overlay-add-pole {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(94, 90, 89, 0.603);
}
.modal-add-declaration,
.modal-update-declaration,
.modal-add-specialite,
.modal-update-specialite,
.modal-add-pole {
  height: 100%;
  width: auto;
  background-color: #ffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: scroll;
}
.form-add-declaration,
.form-update-declaration,
.form-add-specialite,
.form-update-specialite,
.form-add-pole {
  width: auto;
  overflow-y: scroll;
  height: 100%;
  min-height: 30rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.form-add-declaration::-webkit-scrollbar,
.form-update-declaration::-webkit-scrollbar,
.form-add-specialite::-webkit-scrollbar,
.form-update-specialite::-webkit-scrollbar,
.form-add-pole::-webkit-scrollbar {
  display: none;
}
.form-add-declaration h2,
.form-update-declaration h2,
.form-add-specialite h2,
.form-update-specialite h2,
.form-add-pole h2 {
  margin-left: 2rem;
  text-decoration: underline;
  width: 100%;
}
.form-add-declaration div,
.form-update-declaration div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.form-add-declaration div div,
.form-update-declaration div div {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
.form-add-declaration div div label,
.form-update-declaration div div label {
  width: 100%;
  text-align: left;
}
.form-add-specialite div,
.form-update-specialite div,
.form-add-pole div {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0.5rem auto;
}
.form-add-declaration div input,
.form-update-declaration div input,
.form-add-specialite div input,
.form-update-specialite div input,
.form-add-pole div input,
select {
  height: 2rem;
  outline: none;
  margin-top: 0.5rem;
  width: 100%;
}
.form-add-declaration button,
.form-update-declaration button,
.form-add-specialite button,
.form-update-specialite button,
.form-add-pole button {
  align-self: flex-end;
  width: 90%;
  height: 3rem;
  margin: 1rem auto;
  background-color: orangered;
  color: #ffff;
  border: none;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
  margin-bottom: 2rem;
}
.form-add-declaration div button:hover,
.form-update-declaration div button:hover,
.form-add-specialite div button:hover,
.form-update-specialite div button:hover,
.form-add-pole div button:hover {
  background-color: rgb(194, 54, 3);
  transform: scale(1.05);
  cursor: pointer;
}
@media only screen and (max-width: 990px) {
  /* Admin dashboard */
  .menu-item {
    width: 90%;
  }
  /* Admin pole menu */
  .admin-pole-page-menu {
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .admin-pole-page-menu a {
    min-width: 15rem;
    border-top: 1px solid thistle;
    border-left: none;
    border-right: none;
  }
  .admin-pole-page-menu a:nth-child(4) {
    border-right: none;
    border-bottom: 1px solid thistle;
  }
  /* Admin pole infos page */
  .pole-infos-form h2 {
    margin-left: 0;
  }
  .pole-infos-form div {
    width: 100%;
  }
  .pole-infos-form button {
    height: auto;
    min-height: 3rem;
    width: 100%;
  }
  /* Modal */
  .Modal-add-declaration,
  .Modal-update-declaration,
  .Modal-add-pole,
  .Modal-add-specialite,
  .Modal-update-specialite {
    width: 90vw;
  }
  .form-add-specialite div,
  .form-update-specialite div,
  .form-add-pole div {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
/* Admin pole specialites */
.admin-pole-specialites-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.admin-pole-specialites-page h2 {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 100%;
  text-align: left;
  text-decoration: underline;
}
.pole-specialites-items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.specialite-item,
.add-specialite-item {
  height: 10rem;
  width: 20rem;
  border: 5px solid thistle;
  border-radius: 10px;
  margin: 1rem;
  color: thistle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;
}
.specialite-item:hover,
.add-specialite-item:hover {
  transform: scale(1.05);
}
.specialite-item *,
.add-specialite-item * {
  margin: 0;
}
/* Admin dashboard */

table {
  font-size: 15px;
}
th,
tr,
td {
  height: 2.5rem;
  min-width: 4rem;
}
th {
  font-weight: 400;
}
th.title {
  font-weight: bold;
}
tr {
  text-align: left;
}
.vide {
  background-color: thistle;
}

/* User dashboard */
.userInfos-page {
  width: 100%;
  height: 100%;
}
.userInfos-page .arrow-back {
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
.userInfos-page .arrow-back:hover {
  transform: scale(1.2);
}
.userInfos-page h1 {
  margin-top: 0;
  text-align: left;
  text-decoration: underline;
}
.userInfos-page-header {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.userInfos-page-content {
  height: 60%;
  width: 100%;
}
.userInfos-page-content .userInfos-page-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.userInfos-page-content .userInfos-page-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 40%;
  margin: 1rem 0;
}
.userInfos-page-content .userInfos-page-form div input,
.userInfos-page-content .userInfos-page-form div select {
  width: 80%;
  padding: 1rem;
  margin-top: 0.5rem;
  outline: none;
}

.userInfos-page-footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.userInfos-page-footer button {
  background-color: thistle;
  border: none;
  color: #ffff;
  font-size: 25px;
  margin-left: auto;
  padding: 2rem;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  width: auto;
  text-transform: uppercase;
}
.userInfos-page-footer button:hover {
  transform: scale(1.1);
  background-color: rgb(202, 166, 202);
}

/* Responsive */
